<div class="d-flex i-like-big-dives-and-i-cannot-lie">
  <div class="white-container finishing-page">
    <% if (@quiz.score/10) <= 3  %>
      <h1>Nice try!</h1>
    <% else %>
      <h1>Way to go!</h1>
    <% end %>

    <h1>Your score is</h1>
    <h1 class="numbers-h1"><%= @quiz.score/10 %> / 5</h1>
  </div>
</div>

