
<div class="white-container mt-5">
  <h1>Quiz</h1>

  <p class="quiz-start-p">
    You will now be quizzed on 5 slang words.
    If you don’t feel ready, look over your word list,
    and come back later!
  </p>
</div>

<%= link_to quizzes_path, method: :post, id: "sneaky-mf" do %>
  <div class="white-container mt-5 text-center pill-button">
    Start Quiz
  </div>
<% end %>

