<h1 class="most-headers">Quiz</h1>

<p class="quiz-start-p p-5 mt-5">You will now get a questionnaire of 5
slangs. If your not feeling redy yet, feel
free to go back and go over the list of
slangs.</p>

<div class= "flashcard mt-0 mb-3 ml-3 mr-3">
  <%= link_to("Start quiz", quizzes_path, method: :post) %>
</div>
