<h1 class=most-headers>Quiz</h1>

<p>You will now get a questionnaire of 10
slangs. If your not feeling redy yet, feel
free to go back and go over the list of
slangs.</p>

<%= link_to("Start quiz", quizzes_path, method: :post) %>
<%= link_to("Go back", '#') %>
