<!--@user_word as a list -->
<!--
  <div class="box">
    <div class="box-to-flex">
      <div class="left-box">
        <%#= @user_word %>
      </div>

      <div class="right-box">
        <h1><%#= @user_word %></h1>
        <p><%#= @user_word%></p>

      </div>
    </div>
  </div>
</div>
-->

  <div class="search-bar">

    <form action="<%=  user_words_path %>" class="form-inline padded mt-5 mr-3 ml-3">
      <div class="d-flex flex-grow-1">
      <input type="text" name='search' class="form-control mr-1 border-radius input-lg" placeholder="keywords...">
        <select name="language"  class="mr-1 form-control border-radius input-lg">
          <option value="English">English</option>
          <option value="German">German</option>
        </select>
        <input type="submit" class="pb-0 pt-0 btn2 btn-danger btn-lg" value="Go">
      </div>
    </form>
  </div>

  <!-- <ul> -->
<div class="search-page">
    <div class="list m-3">
      <% @user_words.each do |user_word| %>
        <div class="card mb-3 p-2">
          <div class="text-left">
            <div class="d-flex justify-content-between"><strong>
              <%= user_word.word.original %> </strong> <%= symbol(user_word.word.language.name) %></div>
            <p class="mt-1 text-right"><%= user_word.word.translation %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

