.ciaoone {
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.ciao2 {
text-align: center;
margin: auto;
}

.headers {
  text-align: center;
  display: flex;
}

.description {
  font-size: 5px;
}
