body {
  background-color: rgba(248, 236, 222, 0.6);
}

.quiz-start-p {
  font-style: $body-font;
  color: #606060;
}

.quiz-answers {
  background-color: #A0ABC2;
  border-radius: 10px;
  padding: 3px;
  margin-top: -40px;
  margin-bottom: 100px;
}

.quiz-answer {
  background-color: white;
  margin-bottom: 4px;
  border-radius: 10px;
}
