.quiz-start-p {
  font-style: $body-font;
  color: #606060;
}

.quiz-answers {
  border-radius: 10px;
  padding: 3px;
  margin-top: -40px;
  margin-bottom: 100px;
}

.quiz-answer {
  background-color: white;
  margin-bottom: 16px;
  border-radius: 10px;
  box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.23);

}

.pill-case {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  margin: 2px auto;
  .pill-button {
    font-size: 15px;
  }
}

.finishing-page {
  text-align: center;
  color: #848B99;
  font-weight: normal;

  .numbers-h1 {
    font-weight: 900;
    font-size: 37px;
    color: #848B99;
  }
}

.i-like-big-dives-and-i-cannot-lie {
  height: 100vh;
  align-items: center;
}
