<h1>Explore a language</h1>

<ul class="button-list">
    <% @languages.each do |language| %>
    <li>
        <%= button_to(update_languages_user_languages_path(language_id: language.id), class: 'language-btn') do %>
          <%= language.name.capitalize  %>
          <%= image_tag language.flag_url, alt: "#{language.name} flag", class: 'language-img' %>

        <% end %>
    </li>
    <% end %>
</ul>
