<div class="banner" style="background-image: url(<%= image_path "argo_banner.png"%>);">
  <div class="text-right m-3">

    <h1 href="/login">Login!</h1>
  </div>


  <div class="home-wrapper">
    <div class="title-wrapper">
      <h2>Argo</h2>
    </div>
    <div class="slogan">

    <%= image_tag "argo_logo.png", class: "argo" %>
      <h3>Learn Slang and Up Your Cool !</h3>
    </div>
  </div>
  <div class="learn-button">
    <a href="/login">Learn!</a>
  </div>
</div>


