<head>Argo<head>

    <p>Learn Slang and Up Your Cool !<br>

    <a href="/login" class="btn2 btn-danger btn-lg">Learn!</a>

 <div class="banner" style="background-image: url(<%= image_path "argo_banner.png"%>);">




