.user-language-show{
  .color-grey{
    color: #848B99;
  }

  .thirty-two-font{
    font-size: 32px !important;
  }

  .user-language-img{
    width: 70px;
    height: 70px;
  }

  .link{
    color: #848B99;
    text-decoration: none;
  }
}
