<div class="text-center">
  <h1 class=headers>Dashboards</h1>

    <%= image_tag "download.jpg", class: "ciaoone avatar", alt: "profile-image" %>

  <header class="ciao2" > Ciao User! </header>

  <h2> scores </h2>
  <h3> total scores </h3>
  <!-- @scores looks like {"language"=> score, x} -->
</div>
