.italian {
  background-image: url("https://res.cloudinary.com/dds64vxxo/image/upload/v1576066632/italian-background_fdpgiz.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
}

.english {
  background-image: url("https://res.cloudinary.com/dds64vxxo/image/upload/v1576066632/american-background_ipinr2.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
}

.german {
  background-image: url("https://res.cloudinary.com/dds64vxxo/image/upload/v1576066632/german-background_xrv7fm.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
}

.regular-blue {
  background: #CFD4E0;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
}

.regular-beige {
  background-color: rgba(248, 236, 222, 0.6);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
}

.regular-pink {
  background-color: #F1D2D2;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
}
