.italian {
  background-image: url("italian-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
}

.english {
  background-image: url("american-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
}

.german {
  background-image: url("german-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
}

.regular-blue {
  background-color: rgba(248, 236, 222, 0.6);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
}

.regular-beige {
  background-color: #E5E5E5;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
}

.regular-pink {
  background-color: #F1D2D2;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
}
