
h1 {
  padding: 0; margin: 0;
}

p {
  padding: 0;
  margin-top: 1.3em;
  line-height: 1.4;
}

/* entire container, keeps perspective */

.page-flashcard {
  width: 100%;
  // position: absolute;
  //   top: 50%;
  //   left: 0;
  // transform: translateY(-50%);
  height: calc(100vh - 60px);
  padding-top: 10vh;
  overflow: hidden;
}
.flip-container, .front, .back {
      width: 80vw;
      min-height: 30vh;
}

.question_container {
  width: 80vw;
  box-shadow: 1px 1px 5px #333 !important;
  h4 {
        word-break: break-word;
  }
}
.flip-container {
  margin: 0 auto;
  perspective: 1000px;
}
  /* flip the pane when hovered */
  // .flip-container:hover .flipper, .flip-container.hover .flipper {
  //   transform: rotateY(180deg);
  // }

.flip-container {
  border-radius: 2px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.pill-button.flip.py-1.px-2 {
  width: 200px;
  margin: 15px auto;
}

#user_input {
  height: 50%;
  width: 100%;
  border: 1px solid lightgrey;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  transform: rotateY(0deg);
  background-color: #fff;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-shadow: 1px 1px 5px #333;

}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  background-color: #fefefe;
  box-shadow: 1px 1px 5px #333;
}

.front .content  {
  display: flex;
  padding: 1rem;
  justify-content: center;

}
.back .content {
  height: inherit;
  justify-content: center;
  p {
    padding: 1rem;
    height: 150px;
    overflow-y: auto;
    word-break: break-word;
    color: #848B99;
  }
  .no_show_text {
    float: right;
    color: #848B99;
    font-weight: lighten;
  }
}

  .new_user_word {
    height: inherit;
        flex-direction: column;
    display: grid;
    grid-template-rows: 40vh 60px;
  }

.flip_buttons {
  display: flex;
    justify-content: center;
    align-items: center;
  input {
    height: 50px;
    width: 150px;

  }
  &_back, &_front {
  }
  &_back {
    display: flex;
    justify-content: space-around;
    width: 100%;

  }
  &_front {
    div {
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.flip-action {
    transform: rotateY(180deg);
}

.flip-card {
  transform: rotateY(180deg);

}

.red-border {
  border: 1px solid red;
}

#user_input {
  width: 80%;
  background: transparent;
  border: none;
  border-bottom: 2px solid lightgray;
}

.white-container.ask-user-for-guess {
  color: #848B99;
  border-radius: 2px;
}
