// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "headers";
@import "fas";
@import "flashcard";
@import "show";
@import "all-buttons";


//nav bar sticky, definition truncate, margin width within flexbox

.d-flex2 {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  border-radius: 15px;
  text-align: center;
  position: sticky;
}

.btn2 {
  position: sticky;

}

.search-page {
  max-height: calc(100vh - 136px);
  overflow-y: auto;
}

//@import "practice";
//@import "d-flex-two"

.italian {
  background-image: url("italian-background.png");
}

.english {
  background-image: url("american-background.png");
}

.german {
  background-image: url("german-background.png");
}

.regular-blue {
  background-color: rgba(248, 236, 222, 0.6);
}

.regular-beige {
  background-color: #E5E5E5;
}

.regular-pink {
  background-color: #F1D2D2;
}

.quiz-icon {
  width: 80px;
  position: absolute;
  top: -20px;
  right: -20px;
}

.correct-answer {
  padding: 4px !important;
  border: 4px solid !important;
  border-color: #68C6A4;
  border-width: 4px;
  color: #68C6A4;
  font-weight: bold;
}

.wrong-answer {
  padding: 4px !important;
  border: 4px solid !important;
  border-color: #EE6E6E;
  border-width: 4px;
  color: #EE6E6E;
  font-weight: bold;
}
