.lateral-block-r, .lateral-block-l {
  // background-color: #D7C1C1;
  height: 60px;
  // z-index: -1;
  width: calc((100vw - 82px)/2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  a i.fas {
    color: grey;
  }
}

.lateral-block-r {
  border-top-right-radius: 16px;
}

.lateral-block-l {
  border-top-left-radius: 16px;
}

.navbar {
  padding: 0;
  bottom:0;
  position: fixed;
}

.page-render {
  min-height: calc(100vh - 100px);
}

.navbar {
  width: 100vw;
  background-repeat: no-repeat;
  background-position: top;
}
