<div class="user-language-show">
  <div class="white-container d-flex p-4 my-5">
    <div class="start_practice_top">
      <h1 class="thirty-two-font color-grey">Start Practicing</h1>
    </div>

    <%= image_tag "#{@user_language.language.name.downcase}.png", alt: "#{@user_language.language.name}", class: 'user-language-img' unless @user_language.nil?  %>
  </div>

  <div class="pt-2">
    <% if @random_word_in_user_language %>



      <%= link_to new_word_user_word_path(@random_word_in_user_language), class: "link" do %>
        <div class="white-container mt-5 text-center pill-button">Flashcard</div>
      <% end %>
    <% else %>
    
        <div class="white-container mt-5 text-center pill-button">
          <%= link_to 'Flashcard', "#", class: "link disabled-link" %>
          </div>

    <% end %>

      <% if @can_take_quiz %>

          <%= link_to starter_quizzes_path,  class: "link" do %>
            <div class="white-container mt-4 text-center pill-button">Quiz</div>
          <% end %>

      <% else %>

        <div class="white-container mt-4 text-center pill-button">
          <div class="link">Quiz 🔒</div>
        </div>

      <% end %>
    </div>





  </div>
</div>
