.dashboard-profile{


  .title{
    color: #425785;
    font-size: 33px;
  }

  .totals{
    justify-content: space-around;
  }

  h3{
    font-size: 36px;
  }

  h4{
    margin-top: 4%;
  }

  .bold{
    font-weight: bold;
  }
  .margin-top-20{
    margin-top: 20%;
  }

  .margin-top-17{
    margin-top: 17%;
  }


  .card{
    margin-top: 60%;
  }

  .width-80{
    width: 80px;
  }

  .lang_score{
    margin-left: 3%;
    padding-top: 7%;
  }



}

